{% extends 'base.html' %}
{% load humanize %}

{% block body %}
  <div class="row">
    <div class="col-6">
      <img src="{{ post.image.url }}" alt="">
    </div>
    <div class="col-6">
      <p>{{ post.content }}</p>
      <p>{{ post.created_at|naturaltime }}</p>
      <i class="far fa-heart mb-2"></i>
      <div>
        <a href="{% url 'posts:update' post.pk %}" class="btn btn-light">edit</a>
        <form action="{% url 'posts:delete' post.pk %}" class="d-inline" method="POST">
          {% csrf_token %}
          <input type="submit" value="delete" class="btn btn-dark">
        </form>
      </div>
      <hr>
    </div>
  </div>
{% endblock body %}